# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

env/
venv/
ENV/
asl-env/

# Data files
data/*.csv
data/*.npy

# Model files (optional - models can be large)
models/*.h5
models/*.png

# Exclude notebooks used to build model, all code for training and validation are recorded in Python files
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Analysis outputs
analysis/